.navbtn{
    border:0px solid black;
    box-shadow: 2px black;
}
/* This class will be toggled by your JS */
.navbtn.active {
    color: black !important;
    font-weight: bold;
    border-bottom: 2px solid black; /* Optional: adds an underline */
}
