body{
    margin: 0px;
}

.center{
    text-align: center;
}

.main-content-box{
    padding:20px;
}

.xl-nav-bar {
    height: 60px; /* Locked height */
    width: 100%;  /* Fills the column */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white; /* Optional: ensures no transparency issues */
    border-radius: 8px; /* Optional: matches your shadow */
}


.tab-content {
    display: none;
}

.tab-content:target {
    display: block;
}

 
#About {
    display: block;
}

.border-round {
    border-radius: 20px;
}

.whitebg {
    background-color: white;
}

.gif-background {
    /* Removed the gradient layer and set to repeat */
    background: url('/assets/gif.gif') repeat center;
    
    /* 'cover' scales the image to fit; change to 'auto' if you want a tiled look */
    background-size: auto; 
    
}

.fill-rectangle {
    height: fit-content;
    margin:0;
    width: 100%;

}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
