


.glass-card {
    background: rgba(255, 255, 255, 0.05) !important; 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 15px;
    overflow: hidden; 
    transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}



.glass-card .card-body, 
.glass-card .list-group-item {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.1); 
}

.glass-card-hover:hover {
    background: rgba(255, 255, 255, 0.15) !important; /* Increased from 0.05 to 0.15 */
    border: 1px solid rgba(255, 255, 255, 0.3) !important; /* Brightens the border */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Adds depth on hover */
    cursor: pointer;
}



.glass-card-red {
    background: rgba(167, 39, 20, 0.60) !important; 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    overflow: hidden; 
}

.glass-card-dark {
    background: rgba(0, 0, 0, 0.3) !important; 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0,0.3) !important;
    border-radius: 15px;
    overflow: hidden; 
    transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}