body.modal-open {
    padding-right: 0 !important;
    overflow: hidden;
}

[data-bs-theme="dark"] .invert-on-dark {
    filter: invert(1) brightness(2);
}

[data-bs-theme="light"] .invert-on-light {
    filter: invert(1) brightness(2);
}

.invert {
    filter: invert(1);
}

.about-card {
    max-height: 700px; 
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.4s ease, margin 0.4s ease;
    opacity: 1;
}

.about-card.hidden {
    max-height: 0;
    opacity: 0;
    margin: 0 !important;
    pointer-events: none;
}

body {
    transition: 
        transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        background 0.3s ease, 
        border 0.3s ease;
}

.card {
    transition: 
        transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        background 0.3s ease, 
        border 0.3s ease;

    will-change: transform;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.icon {
    width: clamp(22px, 2vw + 10px, 32px);
    height: auto;
}

.expandable-img {
    cursor: pointer;
}

.modal-backdrop {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}

.modal {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1055;
}


  .skill-circle svg {
    display: block;
  }

  #skillsCarousel .carousel-control-prev,
  #skillsCarousel .carousel-control-next {
      filter: invert(1);
      width: 28px;
  }